body {
  background-color: #EBF2F2;
  font-family: 'Droid Sans', sans-serif;
  color: #4D7A8C;
  font-size: 14px;
}

h1 {
  color: #4D7A8C;
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
}

h3 {
  color: #BF4C41;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  color: #EBF2F2;
  height: 60px;
  width: 100%;
  background-color: #4D7A8C;
  padding-top: 25px;
  padding-bottom: 25px;
}

.info-icon {
  height: 60px;
}

.container-kamn {
  margin-bottom: 30px;
}

/* navbar styles */
.navbar-brand {
  font-size: 25px;
  color: #EBF2F2;
}

.navbar-default .navbar-brand {
  color: #EBF2F2;
}

.navbar-header {
  padding-bottom: 70px;
  padding-top: 10px;
}

.navbar-nav {
  padding-top: 40px;
}

.navbar-nav > li > a {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: #EBF2F2;
  font-family: 'Droid Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #7AC1DE;
}

.navbar-default .navbar-brand:hover {
  color: #7AC1DE;
}

.navbar-default {
  background-color: #4D7A8C;
}

@media (min-width: 1000px) {
  .navbar-header {
    padding-bottom: 80px;
    padding-top: 5px;
  }

  .navbar-nav {
    padding-top: 45px;
  }
  .navbar-brand {
    font-size: 30px;
    color: #EBF2F2;
  }
  .navbar-default {
    background-color: #4D7A8C;
  }
}
/****************/
