/**** index.html styles ****************/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}
.footer, .push {
  height: 100px;
}
.footer {
  color: #EBF2F2;
  background-color: #4D7A8C;
  margin-top: 30px;
  padding-top: 40px;
}

body {
  background-color: #EBF2F2;
  font-family: 'Droid Sans', sans-serif;
  color: #4D7A8C;
  font-size: 14px;
  height: 100%;
}

h1 {
  color: #4D7A8C;
  font-family: 'Droid Sans', sans-serif;
  font-size: 3em;
}

h3 {
  color: #BF4C41;
  font-family: 'Droid Sans', sans-serif;
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

/**** navbar styles ****/
.navbar-brand {
  font-size: 25px;
  color: #EBF2F2;
}

.navbar-default .navbar-brand {
  color: #EBF2F2;
}

.navbar-header {
  padding-bottom: 70px;
  padding-top: 10px;
}

.navbar-nav {
  padding-top: 40px;
}

.navbar-nav > li > a {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: #EBF2F2;
  font-family: 'Droid Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #7AC1DE;
}

.navbar-default .navbar-brand:hover {
  color: #7AC1DE;
}

.navbar-default {
  background-color: #4D7A8C;
}

@media (min-width: 1000px) {
  .navbar-header {
    padding-bottom: 80px;
    padding-top: 5px;
  }

  .navbar-nav {
    padding-top: 45px;
  }
  .navbar-brand {
    font-size: 30px;
    color: #EBF2F2;
  }
  .navbar-default {
    background-color: #4D7A8C;
  }
}
/***************************************/


/**** views/home.html styles ***********/
.h3-link > a {
  color: #BF4C41;
}

.info-icon {
  height: 60px;
}

.feature-img {
  margin-bottom: 30px;
  background: url('../img/default-header.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
}

.feature-img-content {
  margin-top: 300px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(67,107,122,0.5);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-img-content h1 {
  color: #7AC1DE;
  font-size: 3em;
}

.feature-img-content p {
  color: #7AC1DE;
  font-size: 1.5em;
}

/***************************************/



/**** views/breweries.html styles ******/
.brewery-view {
  margin-top: 150px;
}


.or-option > p {
  color: #EBF2F2;
  font-size: 2em;
}

.loc-form {
  background-color: rgba(67,107,122,0.7);
  border-radius: 10px;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

@media (max-width: 1000px) {
  .hide-sml {
    display: none !important;
    visibility: hidden !important;
  }
}

/***************************************/


/**** views/beers.html styles **********/
.beer-view {
  margin-top: 150px;
}

.state-form {
  background-color: rgba(67,107,122,0.7);
  border-radius: 10px;
  padding-top: 1.2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  font-size: 1.5em;
  color: #EBF2F2;
}


/***************************************/

/**** views/vote.html styles **********/
.vote-view {
  margin-top: 150px;
}

/***************************************/
