<div class="container beer-view">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h2 class="section-heading">Never Drink a Boring Beer Again</h2>
      <p class="text-left">Make the most of your travel. Find the best regional beers, ranked by beer lovers like you!</p>
      <div class="col-md-12 state-form">
        <div class="col-md-4">
          <select ng-model="stateSelected" ng-options="state.id as state.name for state in beersCtrl.states" class="form-control" ng-change="beersCtrl.getTopBeers(stateSelected)">
            <option value="">Choose a State</option>
          </select>
        </div>
        <div class="col-md-8">
          <p class="text-left">Select a state to check out the top most voted beers.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h3>{{beersCtrl.heading}} {{beersCtrl.beers[0].beer_id.state}}</h3>
      <br>
      <div class="individ-beer" ng-repeat="beer in beersCtrl.beers">
        <h2>{{ beer.beer_id.name }}</h2>
        <h4><a href="{{beer.beer_id.brewery_website}}">{{ beer.beer_id.brewery_name }}</a></h4>
        <p>{{ beer.beer_id.description }}</p>
        <h4>{{beersCtrl.votes}} {{ beer.beer_id.votes}}</h4>
        <button class="vote-btn" id="{{beer.beer_id.beer_id}}" ng-click="beersCtrl.addVote(beer.beer_id.beer_id)">Vote</button>
      </div>
    </div>
  </div>
</div>

