<div class="container brewery-view">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h2 class="section-heading">Support Local Breweries</h2>
      <p class="text-left">Drink where the locals drink and get to know your destination from the epicenters of taste and fun.</p>
    </div>
  </div>

  <form class="form-horizontal loc-form" role="form">
        <div class="form-group">
          <div class="col-md-12 ">
            <div class="form-group row">
              <div class="col-md-7">
                <input ng-model="brewsCtrl.search" type="text" class="form-control" placeholder="Search for breweries by City">
              </div>
              <div class="col-md-1 hide-sml">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><img src="img/toolbar_find.png" height="20" ng-click="brewsCtrl.getCityBreweries(brewsCtrl.search)"></i></button>
                </div>
              </div>
              <div class="col-md-1 or-option hide-sml">
                <p>OR</p>
              </div>
              <div class="col-md-3">
                <select ng-model="brewsCtrl.state" ng-options="state.name as state.name for state in brewsCtrl.states" class="form-control" ng-change="brewsCtrl.getStateBreweries(brewsCtrl.state)">
                  <option value="">Choose a State</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form> <!-- end form-->

  <div class="row">

    <div class="col-lg-12 text-left">
      <h3>{{brewsCtrl.heading}} {{brewsCtrl.place}}</h3>
      <br>
      <h4>{{brewsCtrl.searchFilter}} <input type="text" ng-model="breweriesFilter.name"/> </h4>
      <br>
      <ul ng-repeat="brewery in brewsCtrl.breweries | filter: breweriesFilter | orderBy:brewsCtrl.sortBy:brewsCtrl.reverse" id="double">
        <li><a href="{{brewery.website}}">{{ brewery.name }}</a></li>
      </ul>
    </div>

  </div>

</div>
