<!-- Header image -->
<div class="container feature-img">
  <div class="feature-img-content text-center">
    <h1 class="text-left">Drink Like A Local</h1>
    <p class="text-left">Make the most of your travel. Find the best regional beers, ranked by beer lovers like you!</p>
      <div class="col-md-12">
        <div class="form-group row">
          <div class="col-md-7">
      <!-- **********  Add buttons *************-->
          </div>
        </div>
      </div>
  </div>
</div> <!-- end container-->

<!-- Main Content-->
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Drink Good Beer, Wherever Life Takes You</h2>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <div class="service-box">
        <img class="info-icon" src="img/redbeer.png">
        <h3 class="h3-link"><a href="#/ranks">Drink Only The Best</a></h3>
        <p>Never drink a boring beer again. Discover beers you can go home and brag to your friends about.</p>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="service-box">
        <img class="info-icon" src="img/redbrewery.png">
        <h3 class="h3-link"><a href="#/breweries">Visit Local Breweries</a></h3>
        <p>Drink where the locals drink and get to know your destination from the epicenters of taste and fun.</p>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="service-box">
        <img class="info-icon" src="img/redvote.png">
        <h3 class="h3-link"><a href="#/vote">Contribute to the Cause</a></h3>
        <p>Vote for your favorite brews to help your fellow beer-lovers always travel with taste.</p>
      </div>
    </div>
  </div> <!-- end row -->

</div> <!-- end main content container-->
