<div class="container vote-view">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h2 class="section-heading">Don't Let Friends Drink Bad Beer</h2>
      <p class="text-left">The 'Top 10' lists are based entirely off your votes, so search for your favorite beers and make your vote count!</p>
      <br>
      <p class="red">REMEMBER: Vote as many times as you want. We don't tell the beer guys to stop putting hops in our IPA's, so we won't tell you to stop voting for your favorite brews!</p>
    </div>
  </div>

  <form class="form-horizontal loc-form" role="form">
    <div class="form-group">
      <div class="col-md-12 ">
        <div class="form-group row">
          <div class="col-md-7">
            <input ng-model="votesCtrl.search" type="text" class="form-control" placeholder="Search for beers by City">
          </div>
          <div class="col-md-1 hide-sml">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="votesCtrl.getCityBeers(votesCtrl.search)"><img src="img/toolbar_find.png" height="20"></button>
            </div>
          </div>
          <div class="col-md-1 or-option hide-sml">
            <p>OR</p>
          </div>
          <div class="col-md-3">
            <select ng-model="votesCtrl.state" ng-options="state.name as state.name for state in votesCtrl.states" class="form-control" ng-change="votesCtrl.getStateBeers(votesCtrl.state)">
              <option value="">Choose a State</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form> <!-- end form-->
  <br>
  <div class="row" ng-model="beersFilter.name">

    <div class="col-lg-12 text-left">
      <h3>{{votesCtrl.heading}} {{votesCtrl.place}}</h3>
      <div class="individ-beer" ng-repeat="beer in votesCtrl.beers | filter: beersFilter | orderBy:votesCtrl.sortBy:votesCtrl.reverse">
        <h2>{{ beer.name }}</h2>
        <h4><a href="{{beer.brewery_website}}">{{ beer.brewery_name }}</a></h4>
        <p>{{ beer.description }}</p>
        <h4>{{beersCtrl.votes}} {{ beer.beer_id.votes}}</h4>
        <button class="vote-btn" id="{{beer.id}}" ng-click="votesCtrl.vote(beer.id)">Vote</button>
        <br>
      </div>
    </div>

  </div>
</div>
